body {
  font-family: monospace;
  background-color: #282a36;
  color: #f8f8f2;
  font-size: 1.2em;
}

a {
  color: #f8f8f2;
  text-decoration: none;
}

a:hover {
  color: #d4d4b0;
  text-decoration: none;
}

.xml-tag {
  color: #f1fa8c;
}

.xml-string {
  color: #f1fa8c;
}

.md-heading {
  color: #8be9fd;
}

.md-list-item-bullet {
  color: #f1fa8c;
}

.textile-lnk-txt {
  color: #8be9fd;
}

.textile-lnk-url {
  color: #f1fa8c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
